.container {
    height: 20px;
    width: 100%;
    border: solid blue 1px;
    cursor: pointer;
    position: relative;
}

.infoBox {
    position: absolute;
    display: none;
    font-size: 10px;
    color: white;
}

.container:hover .infoBox {
    display: block;
}