* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 500px;
  margin-top: -300px;
  margin-left: -250px;
}

.movementsBox {
  display: flex;
}

@media (max-width: 800px) {
  .App {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    width: 300px;
    margin-top: -300px;
    margin-left: -150px;
  }
}
