* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  border: solid red 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 500px;
  margin-top: -300px;
  margin-left: -250px;
}

.movementsBox {
  display: flex;
}
